Repository joshjohanning-org/codeowners-demo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @FluffyCarlton, @joshjohanning-org/docs-team, @joshjohanning-org/frontend-team, @joshjohanning-org/test-team

Update README.md
  README.md
Owners: @FluffyCarlton

adding some flair
  docs/readme.md
Owners: @joshjohanning-org/docs-team

Update docs/readme.md
  docs/readme.md
Owners: @joshjohanning-org/docs-team

0?
  docs/readme.md
Owners: @joshjohanning-org/docs-team

all the changes
  README.md
  docs/readme.md
  frontend/index.js
  tests/test.js
Owners: @FluffyCarlton, @joshjohanning-org/docs-team, @joshjohanning-org/frontend-team, @joshjohanning-org/test-team

.github/CODEOWNERS:

# catch all
* @FluffyCarlton 

# docs team reviews docs folder
docs/*  @joshjohanning-org/docs-team

# front end team reviews frontend js
frontend/*  @joshjohanning-org/frontend-team

# tests team manages tests
tests/*  @joshjohanning-org/test-team
